<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework" />    
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <!-- BEGIN: Entity Framework-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Server=.;Initial Catalog=CSMS3;Integrated Security=True;packet size=4096" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <!-- END: Entity Framework-->  
  

  <!--<connectionStrings>
    <add name="CSMS3" providerName="System.Data.SqlClient" connectionString="Server=.\sqlexpress;Database=CSMS3;user id=sa;password=p@ssw0rd;persist security info=false;packet size=4096"/>
  </connectionStrings>-->

  <!--BEGIN: Unity-->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">    
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <container>
      <extension type="Interception" />

      <!--Cache Provider-->
      <!--<register type="CSMS3.Infrastructure.Caching.ICacheProvider, CSMS3.Infrastructure" mapTo="CSMS3.Infrastructure.Caching.EntLibCacheProvider, CSMS3.Infrastructure.Caching" />-->

      <!--Entity Framework-->
      <register type="CSMS3.Domain.Repository.IRepositoryContext, CSMS3.Domain"
                    mapTo="CSMS3.Domain.Repository.EntityFramework.EntityFrameworkRepositoryContext, CSMS3.Domain.Repository">
        <!--todo<lifetime type="ByteartRetail.Infrastructure.UnityExtensions.UnityOperationContextLifetimeManager, ByteartRetail.Infrastructure" />-->
      </register>
      <register type="CSMS3.Domain.Repository.IYongHuXXRepository, CSMS3.Domain"
                mapTo="CSMS3.Domain.Repository.EntityFramework.YongHuXXRepository, CSMS3.Domain.Repository" />


      <!--Application Service Implementations-->
      <register type="CSMS3.ApplicationContract.IService1, CSMS3.ApplicationContract" mapTo="CSMS3.Application.Implementation.Service1Impl, CSMS3.Application">
        <interceptor type="InterfaceInterceptor" />
        <!--<interceptionBehavior type="CSMS3.Infrastructure.InterceptionBehaviors.CachingBehavior, CSMS3.Infrastructure" />-->
        <interceptionBehavior type="CSMS3.Infrastructure.InterceptionBehaviors.ExceptionLoggingBehavior, CSMS3.Infrastructure" />      
      </register>
    </container>
  </unity>
  <!--END: Unity-->
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
